.App {
  text-align: center;
  background-color: lightblue;
}

.label {
  display: block;
  font-size: larger;
  color: white;
  padding: 5px;
}

.input {
  font-size: larger;
  padding: 5px;
  margin: 2px;

}

.btn {
  color: white;
  background-color: red;
  border-radius: 5px;
  font-size: larger;
  display: block;
  padding: 5px;
  margin: 10px auto;
}

.messages {
  display: flex;
  justify-content: center;
}

.error {
  display: block;
  background-color: red;
  color: white;
  width: fit-content;
  height: 50px;
  padding: 5px;
}

.success {
  display: block;
  background-color: lightblue;
  color: black;
  width: fit-content;
  height: 50px;
  padding: 5px;
}

.navbar {
  background-color: #034f84;
  color: #fff;
  display: flex;
}

.navbar ul {
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
  width: 100%;
}

.navbar li {
  margin: 5px;
}

.navbar ul li a {
  color: #fff;
  text-decoration: none;
}

.navbar ul li a:hover {
  color: #f7cac9;
  transition: color .5s;
}

main {
  align-items: center;
  display: flex;
  justify-content: center;
}